html, body {
    font-family: 'RobotoDraft', sans-serif;
    font-weight: 300;
}
h1 {
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;
    font-weight: bold;
}
core-animated-pages {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}
core-animated-pages #page-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ECEFF1;
}
core-animated-pages > * {
    border-radius: 5px;
    font-size: 10px;
    background-color: white;
}
/*With deep it affects also the descendant shadow (in this case in core-scaffold)*/

body /deep/ core-toolbar {
    background-color: #B71C1C;
    color: #fff;
}
body /deep/ core-toolbar#menu-tool {
    background-color: #B71C1C;
    color: #fff;
}
core-menu {
    color: #212121;
    margin: 10px 0 0 0;
}
core-menu > paper-item.core-selected {
    background: #FAFAFA;
}
@media all and (max-width: 660px) {
    core-animated-pages {
        width: 100%;
        height: 100%;
    }
}
core-icon {
    margin-right: 0.5em;
}
#chart-shadow {
    height: 80%;
    margin: 1.5em;
    background-color: white;
}
#chart-shadow google-chart {
    width: 100%;
    height: 100%;
}
.section-title {
    font-size: 20px;
    font-weight: 400;
    color: gray;
    text-transform: uppercase;
    text-align: center;
}
.smart p {
    color: #4CAF50;
}
.smart hr {
    color: #4CAF50;
    border-color: #4CAF50;
}
/* Sim Live */

core-header-panel {
    min-width: 400px;
    height: auto;
}
.card-tool /deep/ .card {
    padding: 0px;
    background-color: #fff;
    color: #000;
}
#sim-live {
    display: none;
    width: 100%;
    height: 100%;
}
.content > div {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.chart-card {
    width: 100%;
    height: 100%;
}
.card-tool {
    background-color: #fff;
    color: #000;
}
#loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader > paper-spinner {
    height: 100px;
    width: 100px;
}
paper-progress.red::shadow #activeProgress {
    background-color: #B71C1C;
}
paper-progress.red {
    width: 100%;
}
#no-running-msg {
    display: none;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#no-running-msg h1 {
    color: #9E9E9E;
    text-transform: uppercase;
    font-weight: 100;
}
.proxy-toolbar {
    color: #6E6E6E;
    font-size: 1.5em;
    text-transform: uppercase;
}
/* Remove the bottom border of the dropdown menu*/

paper-dropdown-menu {
    border-bottom: 0px;
}
.info-item {
    min-width: 275px;
    font-size: 1rem;
}
.info-val {
    margin-left: 5px;
    font-weight: 500;
}
.cmp-info {
    border-style: solid;
    border-width: 1px;
    border-color: #E3E3E3;
    margin: 2px;
    width: 125px;
    font-size: 0.8rem;
    padding: 0.6em;
}
.cmp-info-val {
    margin-left: 4px;
    font-weight: 400;
}
#proxy-toolbar-top {
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.footer {
    color: #9E9E9E;
    text-align: center;
    margin: 20px;
}
