html, body {
    font-family: 'RobotoDraft', sans-serif;
    font-weight: 300;
}
h1 {
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;
    font-weight: bold;
}
core-animated-pages {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}
core-animated-pages #page-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ECEFF1;
}
core-animated-pages > * {
    border-radius: 5px;
    font-size: 10px;
    background-color: white;
}
/*With deep it affects also the descendant shadow (in this case in core-scaffold)*/

body /deep/ core-toolbar {
    background-color: #B71C1C;
    color: #fff;
}
body /deep/ core-toolbar#menu-tool {
    background-color: #B71C1C;
    color: #fff;
}
core-menu {
    color: #212121;
    margin: 10px 0 0 0;
}
core-menu > paper-item.core-selected {
    background: #FAFAFA;
}
@media all and (max-width: 660px) {
    core-animated-pages {
        width: 100%;
        height: 100%;
    }
}
core-icon {
    margin-right: 0.5em;
}
#chart-shadow {
    height: 80%;
    margin: 1.5em;
    background-color: white;
}
#chart-shadow google-chart {
    width: 100%;
    height: 100%;
}
.section-title {
    font-size: 20px;
    font-weight: 400;
    color: gray;
    text-transform: uppercase;
    text-align: center;
}
.smart p {
    color: #4CAF50;
}
.smart hr {
    color: #4CAF50;
    border-color: #4CAF50;
}
/* Sim Live */

core-header-panel {
    min-width: 400px;
    height: auto;
}
.card-tool /deep/ .card {
    padding: 0px;
    background-color: #fff;
    color: #000;
}
#sim-live {
    display: none;
    width: 100%;
    height: 100%;
}
.content > div {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.chart-card {
    width: 100%;
    height: 100%;
}
.card-tool {
    background-color: #fff;
    color: #000;
}
#loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader > paper-spinner {
    height: 100px;
    width: 100px;
}
paper-progress.red::shadow #activeProgress {
    background-color: #B71C1C;
}
paper-progress.red {
    width: 100%;
}
#no-running-msg {
    display: none;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#no-running-msg h1 {
    color: #9E9E9E;
    text-transform: uppercase;
    font-weight: 100;
}
/* Remove the bottom border of the dropdown menu*/

paper-dropdown-menu {
    border-bottom: 0px;
}
.info-item {
    min-width: 275px;
    font-size: 1rem;
}
.info-val {
    margin-left: 5px;
    font-weight: 500;
}
.cmp-info {
    border-style: solid;
    border-width: 1px;
    border-color: #E3E3E3;
    margin: 2px;
    width: 125px;
    font-size: 0.8rem;
    padding: 0.6em;
}
.cmp-info-val {
    margin-left: 4px;
    font-weight: 400;
}
.footer {
    color: #9E9E9E;
    text-align: center;
    margin: 30px;
}
/*Line Legend*/

#line-legend {
    margin: 20px;
}
.line-legend-item {
    font-size: 1rem;
}
.color-box {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.color-box.cpu {
    background-color: rgba(65, 174, 93, 1);
}
.color-box.ram {
    background-color: rgba(62, 83, 175, 1);
}
.color-box.disk {
    background-color: rgba(244, 67, 54, 1);
}
.color-box.active_cmps {
    background-color: rgba(255, 191, 66, 1);
}
.line-legend-item.cpu {
    color: rgba(65, 174, 93, 1);
}
.line-legend-item.ram {
    color: rgba(62, 83, 175, 1);
}
.line-legend-item.disk {
    color: rgba(244, 67, 54, 1);
}
.line-legend-item.active_cmps {
    color: rgba(255, 191, 66, 1);
}
#fab-tooltip {
    position: absolute;
    bottom: 0;
    right: 0;
}
paper-fab.blue {
    z-index: 1;
    background: #2196F3;
    margin: 24px;
}
#aggr-card {
    z-index: 1;
}
#aggr-card /deep/ .card {
    margin: 0;
}
#fab-tooltip::shadow .core-tooltip {
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0, 1.92, .99, 1.07);
    transition: all 300ms cubic-bezier(0, 1.92, .99, 1.07);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}
#fab-tooltip:hover::shadow .core-tooltip, #fab-tooltip:focus::shadow .core-tooltip {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* Proxy toolbar */

.proxy-toolbar {
    color: #6E6E6E;
    font-size: 1.5em;
}
.proxy-toolbar .heading {
    font-size: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.proxy-toolbar .content {
    font-size: 0.9rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
}
#services-title {
    cursor: default;
    text-transform: uppercase;
}
#sim-address:hover {
    cursor: pointer;
}
/* Collapse Icon */

#collapse-icon {
    -webkit-transition: 0.33s ease-in-out;
    -moz-transition: 0.33s ease-in-out;
    -o-transition: 0.33s ease-in-out;
}
#collapse-icon.opened {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
#collapse-icon.closed {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
